// GRP: General
$app-colors: "grey", "blue", "red", "green", "invert";
$notion-colors: (
	"default" "gray" "brown" "orange" "yellow" "green" "blue" "purple" "pink" "red"
);
$p2: 0.175rem;
$p3: 0.188rem;
$p4: 0.25rem;
$p6: 0.375rem;
$p8: 0.5rem;
$p10: 0.625rem;
$p12: 0.75rem;
$p14: 0.875rem;
$p16: 1rem;
$p18: 1.125rem;
$p20: 1.25rem;
$p24: 1.5rem;
$p26: 1.625rem;
$p28: 1.75rem;
$p30: 1.875rem;
$p32: 2rem;
$p36: 2.25rem;
$p40: 2.5rem;
$p42: 2.625rem;
$p44: 2.75rem;
$p48: 3rem;
$border-radius: $p6;
$border-radius-small: $p3;
$border-dark: 1px solid var(--border-color);
$border-light: 1px solid var(--border-color-secondary);
$border-color: 1px solid;
$transition: 0.3s ease-in-out;
$input-shadow: 0 0 8px 0 rgba(26, 54, 93, 0.06), 0 0 4px 0 rgba(26, 54, 93, 0.06) inset;
// SECT: Box, Border, & Shadow
@mixin flex($dir: row, $justify: flex-start, $align: center) {
	display: flex;
	flex-direction: $dir;
	justify-content: $justify;
	align-items: $align;
}
@mixin scrollbar() {
	&::-webkit-scrollbar {
		width: 0.375rem;
		transition: $transition;
		background: transparent;
	}
	&::-webkit-scrollbar-button {
		height: 0px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--bg-tertiary);
		border-radius: 3px;
		height: 3rem;
	}
}
@mixin input-shadow($extrarule: none) {
	@if $extrarule ==none {
		box-shadow: 0 0 8px 0 rgba(26, 54, 93, 0.06), 0 0 4px 0 rgba(26, 54, 93, 0.06) inset;
	}
	@else {
		box-shadow: 0 0 8px 0 rgba(26, 54, 93, 0.06), 0 0 4px 0 rgba(26, 54, 93, 0.06) inset, $extrarule;
	}
}
// !SECT
// SECT: TEXT
@mixin ui-text($color: var(--text-dark), $size: 0.875, $weight: 400) {
	font-size: $size;
	font-weight: $weight;
	color: $color;
	font-family: var(--font-family);
}
// !SECT
// SECT: Animation
@mixin hover-effect($color: var(--bg-dark)) {
	transition: 0.2s ease-in-out;
	&:hover {
		filter: brightness(1.05);
	}
}
@mixin click($color, $id) {
	@keyframes click-#{$id} {
		0% {
			box-shadow: 0 0 0 2px $color;
		}
		50% {
			box-shadow: 0 0 0 4px $color;
		}
		100% {
			box-shadow: 0 0 0 2px $color;
		}
	}
	animation: click-#{$id} 0.2s ease-in-out;
}
@mixin pulse() {
	@keyframes pulse {
		0% {
			transform: scale(1);
			opacity: .7;
		}
		50% {
			transform: scale(1.05);
			opacity: 0.4;
		}
		100% {
			transform: scale(1);
			opacity: .7;
		}
	}
	animation: pulse 2s ease-in-out infinite;
}
// TODO: Delete below if still unused
@keyframes on-initial {
	0% {
		opacity: 0;
		transform: translateY(300px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
// !SECT
@mixin inputLabel() {
	.input-label {
		@include flex(row, flex-start, center);
		margin: 0 0 0.5rem 0.175rem;
		.label-text {
			> h3 {
				@include ui-text(var(--text), $p14 , 500);
				flex-grow: 1;
			}
		}
	}
}
.icon-item {
	height: 32px;
	width: 32px;
	img {
		height: 100%;
		width: 100%;
	}
}
body {
	& > .prop {
		background-color: var(--bg) !important;
		border-radius: $p8 !important;
		box-shadow: var(--input-shadow-heavy);
	}
}
// SECT: Svelecte
// !SECT
// SECT: Svelty Picker
.form-control {
	@include ui-text(var(--text-dark), 0.875rem, 500);
	border: none;
	border-radius: 0;
	outline: none;
	width: 100%;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	&::placeholder {
		@include ui-text(var(--text-light), 0.875, 500);
	}
}
.sdt-calendar-colors {
	--sdt-primary: #0180ff !important;
	--sdt-btn-bg-hover: hsl(200, 35%, 97%) !important;
	--sdt-color: hsl(217, 24%, 20%) !important;
}
.sdt-background {
	content: "";
	background: rgba(0, 0, 0, .5);
	height: 600px;
	width: 400px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	overflow: hidden;
	@include flex(column, center, center)
}
.std-calendar-wrap {
	top: 147px !important;
	left: 55px !important;
	font-family: var(--font-family) !important;
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.07), 0 0 0 400px rgba(0, 0, 0, 0.2) !important;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-radius: 0.25rem !important;
	height: fit-content;
	box-sizing: border-box;
	;
	.sdt-timer {
		width: 280px !important;
		.sdt-hand-circle {
			background-color: #0180ff !important;
		}
		.sdt-meridian {
			position: unset !important;
			color: #666666 !important;
			transition: 200ms ease-in-out !important;
			&:hover {
				background: hsl(200, 35%, 97%) !important;
			}
		}
		.sdt-time-head {
			.sdt-time-figure {
				color: #999999 !important;
				&.is-active {
					color: #666666 !important;
				}
			}
		}
	}
	.sdt-calendar {
		height: 226px !important;
	}
	.sdt-cal-td {
		transform: translateY(-7px) !important;
	}
	.sdt-clock {
		background: hsl(200, 35%, 97%) !important;
	}
	.std-btn-header {
		padding: 0 0.5rem !important;
		&:hover {
			background-color: hsl(200, 35%, 97%) !important;
		}
	}
	.sdt-svg {
		fill: hsl(217, 24%, 20%) !important;
		color: hsl(217, 24%, 20%) !important;
	}
	.std-btn-row {
		@include flex(row !important, center, center);
		padding: 0.5rem 0.25rem 0 0.25rem;
		column-gap: 0.5rem;
		box-sizing: border-box;
		button {
			@include ui-text(var(--text-dark), 0.875rem, 500);
			flex-grow: 1;
		}
		.sdt-today-btn {
			background: #0180ff !important;
			color: white !important;
			border: 1px solid transparent !important;
			transition: filter 200ms, box-shadow 200ms !important;
			&:hover {
				box-shadow: 0 0 0 2px #4da6ff;
				filter: brightness(1.05);
			}
		}
		.sdt-clear-btn {
			background: #ffd6da;
			color: #ff5060;
			border: 1px solid transparent !important;
			transition: filter 200ms, box-shadow 200ms !important;
			&:hover {
				box-shadow: 0 0 0 2px #ff858f;
				filter: brightness(0.95);
			}
		}
	}
}
// @each $color in $notion-colors {
// 	.sv-dd-item:has(.sv-item > .sv-item-content > .n-multiselect.#{$color}) {
// 		.sv-item-content {
// 			width: fit-content !important;
// 			background-color: var(--notion-#{$color}) !important;
// 			padding: 0 0.5rem;
// 			box-sizing: border-box;
// 			border-radius: 4px;
// 		}
// 	}
// }