body {
  --font-family: "Albert Sans", sans-serif;
  --border-radius: 4px;
  --border-radius-left: 4px 0px 0px 4px;
  --border-radius-right: 0px 4px 4px 0px;
}
.light-mode {
  --bg: #ffffff;
  --bg-dark: #F8F8F9;
  --bg-darker: #F0F0F0;
  --ui-blue: #2185D0;
  --ui-blue-hover: #3c95da;
  --ui-red: #DB2828;
  --ui-red-hover: #e3342f;
  --border-color: #DEDEDF;
  --divider-color: #F2F2F2;
  --text-dark: #666666;
  --notion-light-gray: #f1f0ef;
  --notion-gray: #e3e2e0;
  --notion-brown: #eee0da;
  --notion-orange: #fadec9;
  --notion-yellow: #fdecc8;
  --notion-green: #dbeddb;
  --notion-blue: #d3e5ef;
  --notion-purple: #e8deee;
  --notion-pink: #f5e0e9;
  --notion-red: #ffe2dd;
  --notion-text-light-gray: #32302c;
  --notion-text-gray: #32302c;
  --notion-text-brown: #442a1e;
  --notion-text-orange: #49290e;
  --notion-text-yellow: #402c1b;
  --notion-text-green: #1c3829;
  --notion-text-blue: #183347;
  --notion-text-purple: #412454;
  --notion-text-pink: #4c2337;
  --notion-text-red: #5d1715;
}
body {
  margin: 0px;
  background-color: #ffffff;
  font-family: var(--font-family);
  padding-bottom: 8px;
  overflow: overlay;
}
h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  margin: 0px;
}
.icon {
  transition: 200ms;
  border-radius: var(--border-radius);
  padding-right: 4px;
}
.icon.clickable {
  cursor: pointer;
  padding: 4px;
}
.icon.clickable:hover {
  background-color: var(--bg-darker);
}
.icon.medium {
  height: 16px;
  width: 16px;
}
.icon.dark > svg {
  fill: #909090;
}
.button {
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.button > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  color: #fafafa;
  transition: 0.2s;
  cursor: pointer;
}
.button.primary {
  background-color: var(--ui-blue);
}
.button.primary :hover {
  background-color: var(--ui-blue-hover);
}
.button.large {
  height: 36px;
}
.divider {
  height: 1px;
  background-color: var(--divider-color);
  width: calc(100% + 32px);
  margin: 24px -16px 24px -16px;
}
::-webkit-scrollbar-button {
  opacity: 0 !important;
  height: 0px !important;
}
::-webkit-scrollbar {
  width: 8px !important;
  margin: 1px !important;
  opacity: 0px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #d5d5d5 !important;
  border-radius: 4px !important;
}
::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 4px !important;
  margin: 1px !important;
  opacity: 0 !important;
  margin-top: 40px;
}
.select-item {
  display: flex;
  align-items: center;
  min-height: 28px;
  font-weight: 500;
  font-size: 14px;
  width: fit-content;
  padding: 0px 8px;
  margin: 4px 0px;
  border-radius: var(--border-radius);
}
.select-item > .icon {
  height: 18px;
  width: 18px;
  margin-right: 4px;
  margin-top: 1px;
}
.svelecte-control {
  --sv-active-border: 1px solid #5991ec !important;
}
.svelecte-control .sv-control {
  transition: all 0.2s ease-in-out;
}
.input-text,
.input-title,
.input-phonenumber,
.input-email,
.input-formula,
.input-url,
.input-number,
.input-select,
.input-status,
.input-people,
.input-date select {
  width: 100%;
  height: 36px;
  border-radius: var(--border-radius);
  outline: none;
  box-sizing: border-box;
  border: 1px solid #DEDEDF;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.01), 0 2px 4px -2px rgba(0, 0, 0, 0.01);
  background: #ffffff;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-family);
}
.input-text:active,
.input-title:active,
.input-phonenumber:active,
.input-email:active,
.input-formula:active,
.input-url:active,
.input-number:active,
.input-select:active,
.input-status:active,
.input-people:active,
.input-date select:active,
.input-text:focus,
.input-title:focus,
.input-phonenumber:focus,
.input-email:focus,
.input-formula:focus,
.input-url:focus,
.input-number:focus,
.input-select:focus,
.input-status:focus,
.input-people:focus,
.input-date select:focus {
  border: 1px solid #5991ec;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -2px rgba(0, 0, 0, 0.02);
}
.input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.input-label > h3 {
  font-weight: 600;
  font-size: 14px;
  color: #666666;
  margin: 0px auto 0px 0px;
}
.input-label > svg {
  margin-right: 8px;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.svelecte {
  width: 100%;
  height: 36px;
  margin-bottom: 24px;
  cursor: pointer !important;
}
.svelecte .sv-control {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  transition: all 0.2s ease-in-out;
}
.svelecte .sv-control .sv-content {
  transition: all 0.2s ease-in-out;
}
.svelecte .sv-content-scroll {
  max-height: 200px;
  overflow-y: auto;
}
.svelecte .has-multiSelection .sv-item {
  background: none;
  justify-content: center;
  margin: 0px 4px 0px 0px;
  align-items: center;
}
.svelecte .has-multiSelection .sv-item .sv-item-content {
  padding: 0px 0px 0px 0px;
}
.svelecte .has-multiSelection .sv-item .sv-item-btn {
  height: 28px;
  margin-top: 4px;
  border-radius: 0px 4px 4px 0px;
  transition: all 0.2s ease-in-out;
}
.svelecte .has-multiSelection .sv-item .sv-item-btn > svg {
  fill: rgba(0, 0, 0, 0.2);
}
.prop-input-text {
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
.prop-input-text-select {
  width: fit-content;
}
.prop-input-text-select .svelecte {
  margin-bottom: 0px;
  width: fit-content;
}
.prop-input-text-select .svelecte .sv-control {
  min-height: 36px;
  max-height: 36px;
  width: 48px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  background-color: var(--bg-dark);
}
.prop-input-text-select .svelecte .sv-control:hover {
  background-color: var(--bg-darker);
}
.prop-input-text-select .svelecte .indicator {
  display: none;
}
.prop-input-text-select .svelecte .sv-content {
  width: 100%;
}
.prop-input-text-select .svelecte .sv-content > :first-child {
  width: 100%;
}
.prop-input-text-select .svelecte :not(.sv-dropdown) .sv-item {
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
.prop-input-text-select .svelecte .sv-item-content {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  padding: 0px;
}
.prop-input-text-select .svelecte .web-icon {
  height: 16px;
  width: 16px;
  padding: 1px 0px 0px 3px;
}
.prop-input-text-select .svelecte .web-icon > svg {
  fill: #909090;
}
.prop-input-text-select .svelecte .web-type {
  font-weight: 500;
  font-size: 14px;
  font-family: var(--font-family);
  color: #5D5D5D;
}
.prop-input-text-select .svelecte .inputBox {
  width: 0px;
  pointer-events: none;
  caret-color: transparent;
}
.prop-input-text-select .svelecte .sv-dropdown {
  width: 164px;
}
.prop-input-text-select .svelecte .sv-dropdown .sv-control {
  width: 164px;
}
.prop-input-text-select .svelecte .sv-dropdown .web-icon {
  padding: 0px 8px 0px 0px;
}
.prop-input-text-select .svelecte .sv-dropdown .sv-item {
  justify-content: flex-start;
}
.prop-input-text-select .svelecte .sv-dropdown-scroll {
  padding: 0px;
}
.text-input {
  width: 100%;
  padding-left: 8px;
  max-height: 36px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 500;
  color: #5D5D5D;
}
.type-icon {
  height: 16px;
  width: 16px;
}
.type-icon > svg {
  fill: #666666;
}
.sv-dropdown {
  border-radius: 4px !important;
  margin: 4px 0px;
}
.n-select-item {
  font-weight: 700;
  height: 24px;
}
.n-select-item.active {
  border-radius: 4px 0px 0px 4px;
}
.n-select-default {
  background: var(--notion-light-gray);
  color: var(--notion-text-light-gray);
}
.n-select-gray {
  background: var(--notion-gray);
  color: var(--notion-text-gray);
}
.n-select-brown {
  background: var(--notion-brown);
  color: var(--notion-text-brown);
}
.n-select-orange {
  background: var(--notion-orange);
  color: var(--notion-text-orange);
}
.n-select-yellow {
  background: var(--notion-yellow);
  color: var(--notion-text-yellow);
}
.n-select-green {
  background: var(--notion-green);
  color: var(--notion-text-green);
}
.n-select-blue {
  background: var(--notion-blue);
  color: var(--notion-text-blue);
}
.n-select-purple {
  background: var(--notion-purple);
  color: var(--notion-text-purple);
}
.n-select-pink {
  background: var(--notion-pink);
  color: var(--notion-text-pink);
}
.n-select-red {
  background: var(--notion-red);
  color: var(--notion-text-red);
}
