@use "sass:color";

$app-colors: "grey", "blue", "red", "green", "invert";

@mixin flex($dir: row, $justify: flex-start, $align: center) {
	display: flex;
	flex-direction: $dir;
	justify-content: $justify;
	align-items: $align;
}

@mixin h1($color: var(--text-colored)) {
	font-size: 1rem;
	font-weight: 700;
	color: $color;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

@mixin h2($color: var(--text-dark)) {
	font-size: 0.875rem;
	font-weight: 700;
	color: $color;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

@mixin h3($color: var(--text-dark)) {
	font-size: 0.875rem;
	font-weight: 600;
	color: $color;
	padding: 0;
	margin: 0;
}

@mixin ui-text-default($color: var(--text-dark), $weight: 400) {
	font-size: 0.875rem;
	font-weight: $weight;
	color: $color;
	font-family: var(--font-family);
}

@mixin ui-text-small($color: var(--text-light), $weight: 400) {
	font-size: 0.75rem;
	font-weight: $weight;
	color: $color;
	font-family: var(--font-family);
}

@mixin hover-effect($color: var(--bg-dark)) {
	transition: 0.2s ease-in-out;

	&:hover {
		filter: brightness(1.05);
	}
}

@mixin click($color, $id) {
	@keyframes click-#{$id} {
		0% {
			box-shadow: 0 0 0 2px $color;

		}

		50% {
			box-shadow: 0 0 0 4px $color;
		}

		100% {
			box-shadow: 0 0 0 2px $color;
		}
	}

	animation: click-#{$id} 0.2s ease-in-out;
}

@mixin scrollbar() {
	&::-webkit-scrollbar {
		width: 0.5rem;
		opacity: 0;
		transition: 200ms ease-in-out;
	}
	&::-webkit-scrollbar-button {
		height: 0px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--bg-darkest);
		border: 0px none #ffffff;
		border-radius: 8px;
		height: 3rem;
	}
	&:hover {
		&::-webkit-scrollbar {
			opacity: 1;
		}
	}
}

.icon-item {
	height: 32px;
	width: 32px;

	img {
		height: 100%;
		width: 100%;
	}
}

.sv-control {
	@include flex (row, flex-start, center);
	border: 1px solid var(--border-color);
	min-height: 2.25rem;
	outline: none;
	&.is-active {
		border: var(--blue) solid 1px !important;
		outline: none !important;
		box-shadow: 0 0 0 3px var(--blue-light);
	}
	
}

@keyframes on-initial {
	0% {
		opacity: 0;
		transform: scale(0%);
	}

	100% {
		opacity: 1;
		transform: scale(100%);
	}
}

.sv-control {
	border: 1px solid var(--border-color) !important;
}

.sv-dropdown {
	margin-top: .25rem;
	transform: scaleY(0%);
	transform-origin: top;
	transition: transform 0.2s ease-in-out;
	display: block !important;
	opacity: 0;
	animation: none 0.2s ease-in-out on-initial;
	&[aria-expanded="true"] {
		transform: scaleY(100%);
		opacity: 1;
	}
}
.sv-item {
	height: 2rem !important;
}
.sv-dd-item-active > .sv-item {
	background-color: var(--bg-dark) !important;

}
.sv-item-content {
	@include flex(row, flex-start, center);

	
	.web-icon {
		margin: 2px 0.25rem 0 0;
	}
	.web-type {
		@include ui-text-default(var(--text-dark), 500);
		margin-left: 1px;
	}
}

