body {
    margin: 0px;
    background-color: #f5f5f5;
    font-family: 'Mulish', sans-serif;

}

.select-item {
    display: flex; 
    align-items: center;
    min-height: 32px;
    font-weight: 400;
    font-size: 14px;
    > .icon {
        height: 18px; 
        width: 18px;
        margin-right: 4px;
        margin-top: 1px;
    }
}

.svelecte-control {
    --sv-active-border: 1px solid rgb(89, 145, 236) !important;
    .sv-control {
        transition: all 0.2s ease-in-out;
    }
}