$font-family: 'Albert Sans', sans-serif;
.light-mode {
	--bg: #ffffff;
	--bg-dark: #F8F8F9;
	--bg-darker: #F0F0F0;
	--bg-darkest: #e7e7e7;

	--ui-blue: #2185D0;
	--ui-blue-hover: #3c95da;
	--ui-red: #DB2828;
	--ui-red-hover: #ee524d;

	--border-color: #DEDEDF;
	--divider-color: #F2F2F2;

	--text-dark: #666666;
	--text-light: #999999;
	--text-inverted: #fafafa;

	--notion-light-gray: #f1f0ef;
	--notion-gray: #e3e2e0;
	--notion-brown: #eee0da;
	--notion-orange: #fadec9;
	--notion-yellow: #fdecc8;
	--notion-green: #dbeddb;
	--notion-blue: #d3e5ef;
	--notion-purple: #e8deee;
	--notion-pink: #f5e0e9;
	--notion-red: #ffe2dd;

	--notion-text-light-gray: rgb(50, 48, 44);
	--notion-text-gray: rgb(50, 48, 44);
	--notion-text-brown: rgb(68, 42, 30);
	--notion-text-orange: rgb(73, 41, 14);
	--notion-text-yellow: rgb(64, 44, 27);
	--notion-text-green: rgb(28, 56, 41);
	--notion-text-blue: rgb(24, 51, 71);
	--notion-text-purple: rgb(65, 36, 84);
	--notion-text-pink: rgb(76, 35, 55);
	--notion-text-red: rgb(93, 23, 21);
}